
:host {
	bottom: 0px ;
	display: flex ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.tree-panel {
	cursor: grab ;
	flex: 1 1 auto ;
	overflow-x: auto ;
	overflow-y: scroll ;

	&__inner {
		display: table ; // Needed to get padding to not be locked-down to overflow viewport.
		padding: 22px 40px 30px 40px ;
	}
}

.detail-panel {
	background-color: #ffffff ;
	border-left: 2px solid #e2e2e2 ;
	flex: 0 0 auto ;
	position: relative ;
	width: 550px ;
}

.header {
	margin-bottom: 35px ;

	&__title {
		font-size: 35px ;
		font-smoothing: antialiased ;
			-webkit-font-smoothing: antialiased ;
		font-weight: 300 ;
		line-height: 40px ;
		margin: 0px 0px 12px 0px ;
	}

	&__description {
		color: #7e8890 ;
		font-size: 16px ;
		font-weight: 400 ;
		line-height: 21px ;
	}
}

.drag-shield {
	bottom: 0px ;
	cursor: grabbing ;
	left: 0px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
	z-index: 2 ;
}
