
<div
	*ngIf="project"
	invTreeDragger
	(draggerStart)="setDragProtection( true )"
	(draggerStop)="setDragProtection( false )"
	[invTreeScroller]="selectedTreeNode"
	class="tree-panel">
	<!-- We need the INNER wrapper for proper padding. -->
	<div class="tree-panel__inner">

		<header class="header">

			<h2 class="header__title">
				{{ project.name }}
			</h2>

			<div class="header__description">
				Your screen flow includes {{ reachableScreenCount }} linked screen(s) from your prototype.
			</div>

		</header>

		<inv-screen-tree
			[rootTreeNode]="tree.root"
			[selectedTreeNode]="selectedTreeNode"
			[screenOrientation]="projectOrientation"
			[screenSize]="screenSize"
			(select)="handleSelect( $event )"
			class="tree">
		</inv-screen-tree>

	</div>
</div>
<div *ngIf="selectedTreeNode" class="detail-panel">

	<inv-screen-detail
		[treeNode]="selectedTreeNode"
		(selectHotspot)="handleSelectHotspot( $event )"
		(previewScreen)="viewScreenInPreview( $event )"
		(startFromScreen)="startFlowFromScreen( $event )"
		class="detail">
	</inv-screen-detail>

</div>

<!--
	This will be shown when the app is dragging so as to prevent mouse events from
	reaching lower-level DOM elements.
-->
<div *ngIf="isProtectingDrag" class="drag-shield">
	<br />
</div>
